.table-data-left {
	display:table-cell;
	width: 50%;
	vertical-align: middle;
	padding:5px;
	text-align:center;
}

.table-data-right {
	display:table-cell;
	width: 50%;
	vertical-align: middle;
	padding:5px;
	text-align:center;
}





